In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [15]:
df = pd.read_csv("files/Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [18]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"],errors="coerce").astype(float)
print(df["TotalCharges"].isnull().sum())

df["TotalCharges"]  =  df["TotalCharges"].fillna(df["TotalCharges"].mean())
print(df["TotalCharges"].isnull().sum())

print(df["TotalCharges"].dtype)

11
0
float64

In [19]:
for col in df.columns :
    if df[col].dtype == object:
        print(col , ":" ,df[col].unique())

customerID : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [20]:
no_service = ["MultipleLines","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingTV"]

for col in no_service :
    df[col] = df[col].replace({"No phone service" : "No" , "No internet service" : "No"})

In [21]:
# df["SmartTV"] = (df['StreamingMovies'] == 1) | (df['StreamingTV'] == 1)

# df["AloneSenior"] = (df['SeniorCitizen'] == 1 )& (df['Partner'] == 0)

# df

In [22]:
tnr = df.pop("tenure")
df.insert(17,"tenure",tnr)

target = df.pop("Churn")
df.insert(17,"Churn",target)


df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges
0,7590-VHVEG,Female,0,Yes,No,No,No,DSL,No,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,No,1,29.85,29.85
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,...,No,No,No,One year,No,Mailed check,No,34,56.95,1889.50
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,Yes,2,53.85,108.15
3,7795-CFOCW,Male,0,No,No,No,No,DSL,Yes,No,...,Yes,No,No,One year,No,Bank transfer (automatic),No,45,42.30,1840.75
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,Month-to-month,Yes,Electronic check,Yes,2,70.70,151.65

In [23]:
le = LabelEncoder()

catagorical = df.loc[:,"gender":"Churn"]

for col in catagorical:
    df[col] = le.fit_transform(df[col])
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges
0,7590-VHVEG,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,2,0,1,29.85,29.85
1,5575-GNVDE,1,0,0,0,1,0,0,1,0,...,0,0,0,1,0,3,0,34,56.95,1889.50
2,3668-QPYBK,1,0,0,0,1,0,0,1,1,...,0,0,0,0,1,3,1,2,53.85,108.15
3,7795-CFOCW,1,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,45,42.30,1840.75
4,9237-HQITU,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,2,1,2,70.70,151.65

In [25]:
df.to_csv("files/cleaned_Churn.csv",index=False)

In [26]:
df2 = pd.read_csv("files/cleaned_Churn.csv")
df2

,customerID,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,tenure,MonthlyCharges,TotalCharges
0,7590-VHVEG,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,2,0,1,29.85,29.85
1,5575-GNVDE,1,0,0,0,1,0,0,1,0,...,0,0,0,1,0,3,0,34,56.95,1889.50
2,3668-QPYBK,1,0,0,0,1,0,0,1,1,...,0,0,0,0,1,3,1,2,53.85,108.15
3,7795-CFOCW,1,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,45,42.30,1840.75
4,9237-HQITU,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,2,1,2,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,1,1,0,1,0,...,1,1,2,1,1,3,0,24,84.80,1990.50
7039,2234-XADUH,0,0,1,1,1,1,1,0,1,...,0,1,2,1,1,1,0,72,103.20,7362.90
7040,4801-JZAZL,0,0,1,1,0,0,0,1,0,...,0,0,0,0,1,2,0,11,29.60,346.45
7041,8361-LTMKD,1,1,1,0,1,1,1,0,0,...,0,0,0,0,1,3,1,4,74.40,306.60
7042,3186-AJIEK,1,0,0,0,1,0,1,1,0,...,1,1,2,2,1,0,0,66,105.65,6844.50